body {
  background-color: #F4F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.friendListApp) {
  width: 300px;
  padding-top: 18px;
  background-color: #5C75B0;
  border: 1px solid #E3E3E3;
}
/*:local(.load){*/
  /*background-color:white;*/
/*}*/

/*:local(.load h1){*/
  /*color: white;*/
  /*font-size: 16px;*/
  /*line-height: 20px;*/
  /*font-family: Helvetica;*/
/*}*/

:local(.friendListApp h1) {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}

:local(.friend){
  display: flex;
  align-items: center;
  justify-content: center;
}
:local(.commentListApp h1){
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}
:local(.commentListApp) {
  width: 200px;
  padding-top: 18px;
  background-color: #5C75B0;
  border: 1px solid #E3E3E3;
}
