:local(.addFriendInput) {
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
}
.form-control {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Poppins,sans-serif;
  border: none;
  outline: 0!important;
  width: 100%;
  height: 40px;
  max-width: 600px;
  padding: 10px;
}